@import "null";
@import "fonts";

[class*="__container"] {
    max-width: 1220px;
    margin: 0 auto;
    border: 1px solid red;
    @media (max-width:1220px) {
        padding: 10px;
    }
}
body{
    // background-color: #88C558; //! убрать
    font-family: 'Inter';
}
.page { //общие блоки
    &_header {
    }
    &_way {
        margin-top: 180px;
    }
    &__title{
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 53px;
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: -0.01em;
        color: #000000;
        padding: 0 10px 0 10px;
        @media (max-width:1060px) {
            font-size: 35px;
        }
        @media (max-width:600px) {
            font-size: 30px;
        }
        @media (max-width:490px) {
            font-size: 25px;
        }
        @media (max-width:320px) {
            font-size: 20px;
        }
    }
    &_present {
        margin-top: 120px;
        margin-bottom: 180px;

    }
}
//!--------------------HEADER------------------
@import "header";
//!------------------MAIN_WAY----------
@import "way";
//!--------------------PRESENT----------------------
@import "present";