@import "null";
@import "fonts";

[class*="__container"] {
    max-width: 1220px;
    margin: 0 auto;
    // border: 1px solid red;
    @media (max-width:1235px) {
        padding: 10px;
    }
}
.background{
    background: #F5F5F5;
}
body{
    font-family: 'Inter';
}
$margin_full: 64px;
$margin2: 32px;
$margin3: 25px;

.page { 
    &_way {
        margin-top: $margin_full;
        @media (max-width:1060px) {
            margin-top: $margin2;
        }
        @media (max-width:850px) {
            margin-top: $margin3;
        }
    }
    &_present {
        margin-top: 90px;
    }
    &__about{
        margin-top: $margin_full;
        @media (max-width:1220px) {
            margin-top: 30px;
        }
        @media (max-width:1060px) {
            margin-top: $margin2;
        }
        @media (max-width:890px) {
            margin-top: 0px;
        }
    }
    &__service {
        margin-top: $margin_full;
    }
    &__projects{
        margin-top: 32px;
        margin-bottom: $margin_full;
        @media (max-width:1280px) {
            margin-bottom: 30px;
        }
        @media (max-width:1060px) {
            margin-top: $margin2;
        }
        @media (max-width:850px) {
            margin-top: $margin3;
        }
        @media (max-width:890px) {
            margin-bottom: 10px;
        }
    }
    &__contacts{
        padding: $margin_full 0px $margin_full;
        @media (max-width:1060px) {
            margin-top: $margin2;
        }
        @media (max-width:850px) {
            margin-top: $margin3;
        }
        @media (max-width:1280px) {
            padding: 30px 0px 25px;
        }
        @media (max-width:890px) {
            padding: 0px 0px 15px;
        }
    }
    &__title{
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 1.1;
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: -0.01em;
        color: #000000;
        padding: 0 10px 0 10px;
        @media (max-width:1060px) {
            font-size: 35px;
        }
        @media (max-width:600px) {
            font-size: 30px;
        }
        @media (max-width:490px) {
            font-size: 25px;
        }
        @media (max-width:320px) {
            font-size: 20px;
        }
    }  
}
$z-index: 5;
.all{
    &_title{
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 1.1;
            letter-spacing: -0.01em;
            padding-bottom: 16px;
            position: relative;
            z-index: $z-index;
            @media (max-width:1220px) {
                font-size: 40px;
            }
            @media (max-width:600px) {
                font-size: 30px;
            }
            @media (max-width:400px) {
                font-size: 25px;
        }
    }
}
//!--------------------HEADER------------------
@import "header";
//!------------------MAIN_WAY----------
@import "way";
//!--------------------PRESENT----------------------
@import "present";
//!--------------------SERVICE----------------------
@import "service";
//!---------------------PROJECTS---------------------
@import "projects";
//!---------------------FOOTER---------------------
@import "footer";

.wow {
    &_mod{
        animation-duration: 1s;
        animation-delay: 0.2s;
    }
 }