@import "null";
@import "fonts";

[class*="__container"] {
    max-width: 1220px;
    margin: 0 auto;
    // border: 1px solid red;
    @media (max-width:1235px) {
        padding: 10px;
    }
}
.background{
    background: #F5F5F5;
}
body{
    font-family: 'Inter';

}
$margin_full: 64px;
$margin2: 32px;
$margin3: 25px;
$margin4: 10px;
$margin5: -15px;
.page { 
    &_slider {
        max-width: 1920px;
        margin: 0 auto;
    }
    &_way {
        margin-top: $margin_full;
        @media (max-width:1235px) {
            margin-top: $margin3;
        }
        @media (max-width:1060px) {
            margin-top: $margin4;
        }
        @media (max-width:600px) {
            margin-top: $margin5;
        }
    }
    &_present {
        margin-top: 90px;
        @media (max-width:1060px) {
            margin-top: $margin2;
        }
    }
    &__about{
        margin-top: $margin_full;
        @media (max-width:1220px) {
            margin-top: 30px;
        }
        @media (max-width:1060px) {
            margin-top: $margin2;
        }
        @media (max-width:890px) {
            margin-top: 0px;
        }
    }
    &__service {
        margin-top: $margin_full;
        @media (max-width:1060px) {
            margin-top: $margin2;
        }
        @media (max-width:850px) {
            margin-top: $margin3;
        }
    }
    &__projects{
        margin-top: 32px;
        margin-bottom: $margin_full;
        @media (max-width:1280px) {
            margin-bottom: 30px;
        }
        @media (max-width:1280px) {
            padding: 0px 50px;
        }
        @media (max-width:767.9px) {
            padding: 0px 0px;
        }
        @media (max-width:1060px) {
            margin-top: $margin2;
        }
        @media (max-width:850px) {
            margin-top: $margin3;
        }
        @media (max-width:890px) {
            margin-bottom: 10px;
        }
    }
    &__contacts{
        padding: $margin_full 0px $margin_full;
        @media (max-width:1060px) {
            margin-top: $margin2;
        }
        @media (max-width:850px) {
            margin-top: $margin3;
        }
        @media (max-width:1280px) {
            padding: 30px 0px 25px;
        }
        @media (max-width:890px) {
            padding: 0px 0px 15px;
        }
    }
    &__title{
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 1.1;
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: -0.01em;
        color: #000000;
        padding: 0 10px 0 10px;
        @media (max-width:1060px) {
            font-size: 35px;
        }
        @media (max-width:600px) {
            font-size: 30px;
        }
        @media (max-width:490px) {
            font-size: 25px;
        }
        @media (max-width:320px) {
            font-size: 20px;
        }
    }  
}
.all{
    &_title{
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 1.1;
            letter-spacing: -0.01em;
            padding-bottom: 16px;
            position: relative;
            z-index: 5;
            @media (max-width:1220px) {
                font-size: 40px;
            }
            @media (max-width:600px) {
                font-size: 30px;
            }
            @media (max-width:400px) {
                font-size: 25px;
        }
    }
}
//!--------------------HEADER------------------
@import "header";
//!------------------SlICK-SLIDER----------
@import "slick-slider";
//!------------------MAIN_WAY----------
@import "way";
//!--------------------PRESENT----------------------
@import "present";
//!--------------------SERVICE----------------------
@import "service";
//!---------------------PROJECTS---------------------
@import "projects";
//!---------------------FOOTER---------------------
@import "footer";

.wow {
    &_mod{
        animation-duration: 1s;
        animation-delay: 0.2s;
    }
 }
 //эффект при наведении на ссылки в футере
.link-btn {
    display: inline-flex;
    position: relative;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase; 
    font-family: 'Roboto', Тahoma, sans-serif;
    background: inherit;
    cursor: pointer; 
    overflow: hidden;
    z-index: 1;
}
.link-btn:hover,
.link-btn:active,
.link-btn:focus {
    color: #FFF;
}
.link-btn:before {
    content: '';
    position: absolute;
    top: 0;
    right: -50px;
    bottom: 0;
    left: 0;
    border-right: 50px solid transparent;
    border-top: 50px solid #2d9f3c;
    transition: transform 0.5s;
    transform: translateX(-100%);
    z-index: -1;
}
.link-btn:hover:before,
.link-btn:active:before,
.link-btn:focus:before {
    transform: translateX(0);
}

//эффект при наведении на кнопоки
 .atuin-btn {
    display: inline-flex;
    position: relative;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase; 
    font-family: 'Roboto', Тahoma, sans-serif;
    background: #74c32f;
    cursor: pointer; 
    overflow: hidden;
    z-index: 1;
}
.atuin-btn:hover,
.atuin-btn:active,
.atuin-btn:focus {
    color: #FFF;
}
.atuin-btn:before {
    content: '';
    position: absolute;
    top: 0;
    right: -50px;
    bottom: 0;
    left: 0;
    border-right: 50px solid transparent;
    border-top: 50px solid #2d9f3c;
    transition: transform 0.5s;
    transform: translateX(-100%);
    z-index: -1;
}
.atuin-btn:hover:before,
.atuin-btn:active:before,
.atuin-btn:focus:before {
    transform: translateX(0);
}